:root {
  --section-title: 3rem;
  --desc-paragraph: 2.2rem;
  --main-color: #144a23;
  --secondary-color: #f5f5f5;
  --third-white: #ffff;
  --third-black: #000;
  --btn: 2rem 4rem;
  --radius: 0.5rem;
}

.header {
  position: static;
}

main {
  background-color: var(--secondary-color);
}

.section__structure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.structure__header {
  text-align: center;
  margin: 8rem 0;
}

.header__title {
  font-size: var(--section-title);
  color: var(--main-color);
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.header__desc {
  max-width: 55vw;
  font-size: var(--desc-paragraph);
}

.structure__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 15rem;
}

.image__ilustration {
  width: 60vw;
}

.image__ilustration.--1 {
  width: 70vw;
}

.image__info {
  background-color: var(--main-color);
  width: 3rem 10rem;
  position: absolute;
  top: 90%;
  color: var(--third-white);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  flex-wrap: nowrap;
  font-size: var(--desc-paragraph);
}

.image__info:nth-child(2),
.image__info:nth-child(3) {
  padding: 4rem 9rem;
}

/* dispositivos menores que 960px */
@media (max-width: 961.98px) {
  .header__desc {
    max-width: 65vw;
  }
  .image__info:nth-child(2),
  .image__info:nth-child(3) {
    padding: 3rem 6rem;
  }
}

/* dispositivos menores que 768px*/
@media (max-width: 769.98px) {
  :root {
    --desc-paragraph: 1.7rem;
  }

  .image__info:nth-child(2),
  .image__info:nth-child(3) {
    padding: 3rem;
  }
}

/* dispositivos menores que 594px */
@media (max-width: 595.98px) {
  :root {
    --desc-paragraph: 1.2rem;
  }

  .header__desc {
    max-width: 80vw;
  }
  .image__ilustration {
    width: 75vw;
  }

  .image__ilustration.--1 {
    width: 80vw;
  }
  .image__info {
    padding: 2rem;
  }
}
